@model MasterShirtDetailsServiceModel

<div class="row">
    <div class="row mb-5">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">@Model.Name</li>
                @foreach (var shirt in Model.Shirts)
                {
                    <li class="list-group-item">For size @shirt.Size we have around @shirt.Quantity for the price of @shirt.Price</li>
                    <a asp-route-id="@shirt.Id" class="btn btn-warning float-center">Add to cart maybe?</a>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
        </div>
    </div>

</div>