@model CartBagViewModel

@{ 
    Layout = "_Layout";
}
    

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"> @Model.CartItems.Count</div>
                </div>
            </div>
            @foreach (var shirt in Model.CartItems)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="@shirt.ImageUrl"></div>
                        <div class="col">
                            <div class="row text-muted">@shirt.Category</div>
                            <div class="row">@shirt.Name</div>
                        </div>
                        <div class="col">@shirt.Quantity</div>
                        <div class="col">&euro; @shirt.Price <span class="close"><a asp-controller="Cart" asp-action="Remove" asp-route-id="@shirt.Id">&#10005;</a></span></div>
                    </div>
                </div>
            }

            <div class="back-to-shop"><a asp-controller="MasterShirt" asp-action="All">Back to shop</a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS @Model.CartItems.Count</div>
                <div class="col text-right">&euro; @Model.Total</div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard-Delivery- &euro;0.00</option>
                </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; @Model.Total</div>
            </div> <a asp-controller="Checkout" asp-action="Index" class="btn">CHECKOUT</a>
        </div>
    </div>
</div>

